form {
    font-family: 'Comfortaa', cursive;
  display: grid;
  grid-template-columns: 45% 5% 45%;
  grid-template-rows: auto auto ;
  grid-column:2/3;
  border-style: solid;
  border-color: grey;
  width: 50%;
  height:auto;
  border-width:5%;
  grid-template-areas:"socialLogins orSection inputSection"
                      "linksBelow linksBelow linksBelow";
}

#socialLogins {
  grid-area:socialLogins;
  border-style: dotted;
  border-color: red;
}
.socialmediaLoginButton {
  color: white;
  border-style: solid;
  border-radius: 2%;
}
.socialmediaLoginButton > p {
  font-size: 50%;
}
#facebookLogin {
  background-color: #507bbf;
}
.socialIcon {
  height: auto;
  width: 5%;
}

#googleLogin {
  background-color: #de4931;
  border-style: solid;
  border-color: #de4931;
}
#twitterLogin {
  background-color: #64ccf1;
}

#orSection {
  grid-area:orSection;
  border-color: black;
  opacity: 40%;

  border-style:dotted;
  border-color:black;
}
#or {
  border-radius: 100%;
  border-style: solid;
  background-color: white;
}
.hLine {

  width: 0.1%;

  background-color: black;
}
#inputSection {
  grid-area:inputSection;
  border-color: green;
  text-align: center;
  border-style: dotted;
}
#asideHeading {
   
    border-style:dotted;
  font-size: 50%;
}

.textInput {
    border-style:none;

  width: 60%;
  height: auto;
  
}
::placeholder {
  font-size: 50%;
}
/* #passwordInput::placeholder {
 
}  */
.inputBox{
    border-width:0.5px;
   
    border-style:solid;
    border-width: 0 0 1px 0;
}
.fa-user {

  font-size: 5%;
}
.fa-lock {

  font-size: 5%;
}

#loginSubmitBox {
  border-style: dotted;

  height:auto;
  font-size: 50%;
}
#loginButton {
  background-color: #65b1ff;
  font-style: solid;
  height:auto;

  color: white;
  font-size:0.1%;
}
#rememberMePhrase {
  font-size: 50%;
}
#rememberMeButton {
  height: auto;
  min-width: 5%;
}

#linksBelow {
  
  
    padding:1%;
  font-size:20%;
  grid-column:1/4;
justify-self:center;
  border-style: dotted;
}
#registerLink {
  border-style: solid;
  border-width: 0 0.1px 0 0;
}
/* #forgottenLink {
  
} */
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
