
form {
 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-style:dotted;
  position: relative;
  border-color: indigo;
    align-content: center;
  width:25vw;
  height:auto;
  border-width: 1px 1px 1px 1px;
}

#socialLogins {
 
  display: flex;
  flex-wrap:wrap;
  height: 80%;
 width:40%;
  flex-direction: column;
    border-style:dotted;
  border-color: red;
}
.socialmediaLoginButton {
    display:flex;
    align-self: center;
    align-items:center;
    flex-wrap:wrap;
  margin:5%;
 min-height:20%;
 min-width:70%;
  color: white;
  border-style: solid;
  border-radius:2%;
}
.socialmediaLoginButton>p{
position:relative;
margin-left:25%;
font-size:50%;
}
#facebookLogin {
  background-color: #507bbf;
 
}
.socialIcon{
    height: auto;
    width: 5%;
   position:absolute;
    align-self:center;
;
}

#googleLogin {
  background-color: #de4931;
  border-style: solid;
  border-color: #de4931;
}
#twitterLogin {
  background-color: #64ccf1;
}

#orSection{
    display:flex;
    flex-direction: column;
    text-align:center;
    border-color:black;
    opacity:40%;
    width:10%;
}
#or{
    border-radius:100%;
    border-style:solid;
    position:relative;
    top:40%;
    align-self: center;
    background-color:white;
}
.hLine{
    margin-top:5%;
    position:absolute;
    align-self:center;
    width:0.1%;
    height:70%;
    background-color:black;
    
}
#inputSection {

    width: 40%;

    display: flex;
    flex-direction: column;
    border-color: green;
    text-align: center;
   border-style:dotted;
  }
#asideHeading {
  font-size:50%;
}

.textInput {
  width: 80%;
  height: auto;
  border-width: 0 0 1px 0;

  
}
::placeholder {
    flex-wrap:nowraP;
    font-size:50%;
    position:relative;
    left:10%;
}
/* #passwordInput::placeholder {
 
}  */
.fa-user {
position:relative;
left:8%;
font-size:5%;
}
.fa-lock {
    position:relative;
left:8%;
font-size:5%;
}


#loginSubmitBox{
   border-style:dotted;
    min-width:100%;
    display:flex;
    
    flex-direction: row;
    font-size:50%;
    }
#loginButton {
  background-color: #65b1ff;
  font-style: solid;
  width:100%;
  color: white;
    align-self:center;
    justify-self: center;
    margin-left:7%;
    font-size:0.5%;
}
#rememberMePhrase{
    font-size:50%;
}
#rememberMeButton{
    height:auto;
   min-width:5%;
}

#linksBelow {
    margin-top:6.3%;

    display:flex;
    flex-direction: row;
    justify-content: center;
  width: 100%;
  height:auto;
  border-style:dotted;
   
}
#registerLink {
    
  border-style: solid;
  border-width: 0 0.1px 0 0;
  align-self: center;
 
}
#forgottenLink{
    
    align-self: center;
}
a:link{
    text-decoration:none;
}
a:visited{
    text-decoration: none;
}