
form {
    margin-right:auto;
    margin-left:auto;
  display: flex;
  border-style:dotted;
  position: relative;
  border-color: indigo;
  text-align: center;
  width: auto;
 height:25rem;
}
/* form>*{
    flex:1 1 1;
} */
#socialLogins {
  display: flex;
  height: 60%;
  width: auto;
  flex-direction: column;
  border-style: dotted;
  border-color: red;
}
.socialmediaLoginButton {
  text-align: end;
  height:10%;
  min-width:10rem;
  color: white;
  border-style: solid;
}
#facebookLogin {
  background-color: #507bbf;
  border-radius: 0.01%;
}
.fa-facebook {
  font-size: 3.5rem;
}
#googleLogin {
  background-color: #de4931;
  border-style: solid;
  border-color: #de4931;
  border-radius: 0.01%;
}
#googleIcon {
  height: 60%;
  width: auto;
}
#twitterLogin {
  background-color: #64ccf1;
}
#twitterIcon {
  height: 60%;
  width: auto;
}
#orSection{
    margin-left:1%;
    margin-right:1%;
    display:flex;
    flex-direction: column;
    text-align:center;
    height:60%;
    border-style:dotted;
    border-color:black;
}
#or{
    border-radius:100%;
    border-style:solid;
    position:relative;
    top:35%;
    
   
    align-self: center;
    background-color:white;
}
.hLine{
    position:absolute;
    align-self:center;
    width:1px;
    height:60%;
    background-color:black;
    opacity:0.7;
}
#asideHeading {
  margin-top: 8%;
}
#nameInput {
  min-width: 10rem;
  height: 1rem;
  border-width: 0 0 1px 0;
  margin-top: 15%;
  text-align: center;
}
#passwordInput {
  min-width: 10rem;
  height: 1rem;
  border-width: 0 0 1px 0;
  text-align: center;
  margin-top: 8%;
}
/* ::placeholder {
  position: relative;
  left: -3rem;
}
#passwordInput::placeholder {
  left: -4.55rem;
} */
.fa-user {
  height: 15%;
  width: auto;
}
.fa-lock {
  height: 15%;
  width: auto;
}
#inputSection {
  border-style: dotted;
  width: auto;
  height:60%;
  display: flex;
  flex-direction: column;
  border-color: green;
  text-align: center;
}
#loginSubmitBox {
  margin-top: 20%;
}
#loginButton {
  background-color: #65b1ff;
  font-style: solid;
  color: white;
}
#linksBelow {
    display:flex;
    flex-direction: row;
  position: relative;
  text-align: center;
  width: auto;
  border-style:dotted;
 
}
#registerLink {
  border-style: solid;
  border-width: 0 1px 0 0;
  align-self: center;
  width:120%;
}
#forgottenLink{
    align-self: center;
}