form {
    font-family: 'Comfortaa', cursive;
    margin-top:10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  position: relative;
  border-color: grey;
  align-content: center;
  width: 500px;
  height:200px;
  border-width:5%;
}

#socialLogins {
   position:relative;
   top:10%;
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 40%;
  flex-direction: column;
  border-style: dotted;
  border-color: red;
}
.socialmediaLoginButton {
  display: flex;
  align-self: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5%;
  min-height: 20%;
  min-width: 70%;
  color: white;
  border-style: solid;
  border-radius: 2%;
}
.socialmediaLoginButton > p {
  position: relative;
  margin-left: 30%;
  font-size: 50%;
}
#facebookLogin {
  background-color: #507bbf;
}
.socialIcon {
  height: auto;
  width: 5%;
  position: absolute;
  align-self: center;
}

#googleLogin {
  background-color: #de4931;
  border-style: solid;
  border-color: #de4931;
}
#twitterLogin {
  background-color: #64ccf1;
}

#orSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-color: black;
  opacity: 40%;
  width: 10%;
}
#or {
  border-radius: 100%;
  border-style: solid;
  position: relative;
  
  top: 40%;
  align-self: center;
  background-color: white;
}
.hLine {
  margin-top: 5%;
  position: absolute;
  align-self: center;
  width: 0.1%;
  height: 70%;
  background-color: black;
}
#inputSection {
    position:relative;
    top:10%;
  width: 40%;
  display: flex;
  flex-direction: column;
  border-color: green;
  text-align: center;
  border-style: dotted;
}
#asideHeading {
    padding:10%;
    position:relative;
    border-style:dotted;
  font-size: 50%;
}

.textInput {
    border-style:none;
    padding:3%;
  width: 60%;
  height: auto;
  
}
::placeholder {
  flex-wrap: nowraP;
  font-size: 50%;
  position: relative;
  left: 10%;
}
/* #passwordInput::placeholder {
 
}  */
.inputBox{
    border-width:0.5px;
    width:70%;
    align-self:center;
    border-style:solid;
    border-width: 0 0 1px 0;
}
.fa-user {

  font-size: 5%;
}
.fa-lock {

  font-size: 5%;
}

#loginSubmitBox {
    position:relative;
    top:20%;
  border-style: dotted;
  min-width: 70%;
  height:auto;
  display: flex;
  flex-wrap:nowrap;
    align-self:center;
  flex-direction: row;
  font-size: 50%;
}
#loginButton {
  background-color: #65b1ff;
  font-style: solid;
  height:auto;
  width: 35%;
  color: white;
  align-self: center;
  justify-self: center;
  margin-left: 7%;
 font-size:0.1%;
}
#rememberMePhrase {
  font-size: 50%;
}
#rememberMeButton {
  height: auto;
  min-width: 5%;
}

#linksBelow {
    padding:1%;
  margin-top: 6.3%;
  font-size:20%;
    position:relative;
    top:-3%;
   
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  border-style: dotted;
}
#registerLink {
    margin-left:-1.5%;
  border-style: solid;
  border-width: 0 0.1px 0 0;
  align-self: center;
}
#forgottenLink {
  align-self: center;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
